<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Course Detail</title>
  <%- include('./partials/style')%>
</head>
<body>
  <%- include('./partials/navbar')%>
  <h1><%= course.name%></h1>
  <iframe width="560" 
    height="315" 
    src="<%= course.videoURL%>" 
    title="YouTube video player" 
    frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
    allowfullscreen>
  </iframe>
  <h2><%= course.User.UserDetail.fullName%></h2>
  <p style="max-width: 560px;"><%= course.description%></p>
  <p>Students who's taking this course : <%= totalStudent%></p><br>

  <% if(role === 'Instructor') { %>
    <a href="/course/<%= course.id%>/edit"><button type="button">Edit</button></a>
    <a href="/course/<%= course.id%>/delete"><button type="button">Delete</button></a>
  <% } %>
    
</body>
</html>